@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Roboto-ExtraBold;
  src: url('/public/fonts/Roboto-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Regular;
  src: url('/public/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Light;
  src: url('/public/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Oswald-Regular;
  src: url('/public/fonts/Oswald-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Roboto-Regular";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
